.debug {
    /* border: darkorchid 3px solid; */
}

/* fullscreen solution */
html, body {
    height: 100%;
    margin: 0;
    background-color: bisque;
}

/* slide style */
#slides {
    position: relative;
    height: 100%; /* 5% is for bottom button*/
    padding: 0px;
    margin: auto, 0px;
    list-style-type: none;
}

img#slide-btn {
    position: fixed;
    bottom: 0.5em;
    left: 50%;
    display: block;
    width: 2em;
    z-index: 100;
}

.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    margin: auto;
    opacity: 0;
    z-index: 1;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.vertical-center {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.showing {
    opacity: 1;
    z-index: 2;
} 

/* invitation style  */
.invite-container {
    background-color: bisque;
}
.main-title {
    margin: 2em, auto;
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
}

.info {
    margin: 2em, auto;
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
}

img#avatar {
    width: 50%;
    border-radius: 50%;
}

/* puzzle style */
.puzzle-container {
    font-size: 0;
}

.puzzle {
    display: inline-block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 33.333%;
    font-size: 1rem;
    padding: 2%;
    overflow: hidden;
}

div.puzzle img {
    width: 100%;
}

img.portrait {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
}

/* Good bye page style */
.farewell {
    margin: 2em auto;
    padding: 2em;
    text-align: center;
    writing-mode: vertical-lr;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.5em;
    font-size: 2.0em;
    font-weight: bolder;
    color: brown;
}